$mainColor: #fcf8f8;
$altColor: #09161d;
body {
  background-color: $altColor;
}
h1 {
  color: $mainColor;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  --s: 100px; /* size  */
  --m: 4px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.container {
  font-size: 0;
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: red;
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    span {
<<<<<<< HEAD
      color: #314941;
      font-size: 15px;
=======
      text-align: center;
      color: #263530;
      font-size: 17px;
>>>>>>> 0c5007389e437e0deac86afb4fdebd438c4f44df
    }
  }
}
.container div:nth-child(odd) {
  background: green;
}
.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}
