body {
  background-color: #09161d;
}

h1 {
  color: #fcf8f8;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --s: 100px; /* size  */
  --m: 4px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.container {
  font-size: 0;
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: red;
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}
.container div figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
<<<<<<< HEAD
.container div figure span {
  color: #314941;
  font-size: 15px;
}

.container div:nth-child(odd) {
  background: green;
=======
.container div span {
  text-align: center;
  color: #263530;
  font-size: 17px;
>>>>>>> 0c5007389e437e0deac86afb4fdebd438c4f44df
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
<<<<<<< HEAD
  height: 120%;
  shape-outside: repeating-linear-gradient(rgba(0, 0, 0, 0) 0 calc(var(--f) - 3px), #000 0 var(--f));
}
=======
  height: 100%;
  shape-outside: repeating-linear-gradient(transparent 0 calc(var(--r) - 3px), #fff 0 var(--r));
}
>>>>>>> 0c5007389e437e0deac86afb4fdebd438c4f44df
