body {
  background-color: #09161d;
}

h1 {
  color: #fcf8f8;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  --s: 100px;
  /* size of a hexagon */
  --m: 8px;
  /* space between each heaxgon */
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container div {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  /* background-color: red; */
  margin: var(--m);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}
.container div span {
  color: #263530;
  font-size: 20px;
  font-weight: blod;
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(transparent 0 calc(var(--r) - 3px), #fff 0 var(--r));
}